<form id="nl-form" class="nl-form" align="center">
    I feel like 
    <select ng-change="changeCategory(categoryChosen)" ng-model="categoryChosen">
        <option value="Restaurants" selected>eating</option>
        <option value="Books">reading</option>
        <option value="Movies">watching</option>
        <option value="Games">playing</option>
    </select>
    <br /> 
    <div text-align="center">
    <select ng-change="searchProduct(searchText, categoryChosen)" ng-options="product for product in products" ng-model="searchText">
    	<option value="">(Select Here)</option>
    </select>
	</div>
    <div class="nl-submit-wrap">
        <button ng-click="searchProduct(searchText, categoryChosen)" class="nl-submit" type="submit">Search</button>
        <button ng-click="goToProduct(searchText, categoryChosen)" class="nl-submit" type="submit">Add Review</button>
    </div>
    <div class="nl-overlay"></div>
</form>


<div ng-show="showResult">
    <span><canvas id="myChart" width="400" height="400"></canvas></span>
    <span id="recentReviews">Recent Reviews:</span>
    <span>
	    <div ng-repeat="result in results" >
	        <div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title">Rating: {{result.rating}} / 5</h3>
			  </div>
			  <div class="panel-body">
			    Comments: {{result.comments}}
			  </div>
			</div>
	    </div>
	</span>
</div>

<!--
<div class="page-header">
<h1></h1>
</div>

<div id="search">
	Search: <input ng-keydown="changeSearch($event)" ng-model="searchText"></input>
	Category: <select ng-change="changeCategory(categoryChosen) "ng-model="categoryChosen" ng-options="category for category in categories"></select>
	<button ng-click="searchProduct(searchText, categoryChosen)">Search</button>
</div>

<div ng-show="showAutoComplete" ng-repeat="product in products | filter:searchText">
	<div>{{product}} <a ng-click="goToProduct(product, categoryChosen)"> Add Rating</a></div>
</div>

<div ng-show="showResult">
	<button ng-click="goToProduct(results[0].name, results[0].category)">Add a review</button>
	<canvas id="myChart" width="400" height="400"></canvas>
	<div ng-repeat="result in results">
		
		<div>
			Rating: <span>{{result.rating}} / 5</span>
			<div>Comments{{result.comments}}</div>
		</div>
	</div>
</div>
-->



