<form id="nl-form" class="nl-form" align="center">
    I feel like 
    <select ng-change="changeCategory(categoryChosen)" ng-model="categoryChosen">
        <option value="Restaurants" selected>eating</option>
        <option value="Books">reading</option>
        <option value="Movies">watching</option>
        <option value="Games">playing</option>
    </select>
    <br /> 
    <div text-align="center">
    <select ng-change="searchProduct(searchText, categoryChosen)" ng-options="product for product in products" ng-model="searchText">
    	<option value="">(Select Here)</option>
    </select>
	</div>
    <div class="nl-submit-wrap">
        <button ng-click="searchProduct(searchText, categoryChosen)" class="nl-submit" type="submit">Search</button>
        <button ng-click="goToProduct(searchText, categoryChosen)" class="nl-submit" type="submit">Add Review</button>
    </div>
    <div class="nl-overlay"></div>
</form>


<div ng-show="showResult">
    <span><canvas id="myChart" width="400" height="400"></canvas></span>
    <span id="recentReviews">Recent Reviews: {{averageRating}} / 5</span>
    <span>
	    <div ng-repeat="result in results" >
	        <div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title">Rating: {{result.rating}} / 5</h3>
			  </div>
			  <div class="panel-body">
			    Comments: {{result.comments}}
			  </div>
			</div>
	    </div>
	</span>
</div>



