<html>
<head>
  <title>myRatingz</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="/javascripts/angular-route.js"></script>
  <script src="/javascripts/routes.js"></script>
  <script src="/javascripts/services.js"></script>
  <script src="/javascripts/ui-bootstrap-tpls-0.11.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/modernizr.custom.js"></script>  
  <script type="text/javascript" src="/javascripts/nlform.js"></script>  
  <script type="text/javascript" src="/javascripts/chartjs.js"></script>
  <link rel="stylesheet" type="text/css" href="http://bootswatch.com/flatly/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/default.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <!-- controllers-->
  <script src="/javascripts/product.js"></script>
  <script src="/javascripts/addRating.js"></script>
</head>

<body ng-app="myRatings">
	<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">myRatingz</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">By Category</a></li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Movies</a></li>
          <li><a href="#">Books</a></li>
          <li><a href="#">Games</a></li>
          <li><a href="#">Restaurants</a></li>
        </ul>
      </li>
      <form class="navbar-form navbar-left">
     	 <input type="text" class="form-control col-lg-8" placeholder="Search">
    	</form>
    </ul>
  </div>
</div>


 	<div ng-view></div>
</body>
</html>